<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaroom.wechat.persistence.MemberPassengerMapper">
<resultMap id="BaseResultMap" type="com.aaroom.wechat.bean.MemberPassenger">
  <id column="id" jdbcType="INTEGER" property="id" />
  <result column="member_id" jdbcType="VARCHAR" property="member_id" />
  <result column="name" jdbcType="VARCHAR" property="name" />
  <result column="phone" jdbcType="VARCHAR" property="phone" />
  <result column="email" jdbcType="VARCHAR" property="email" />
  <result column="card_type" jdbcType="VARCHAR" property="card_type" />
  <result column="card_number" jdbcType="VARCHAR" property="card_number" />
  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  <result column="creater_id" jdbcType="INTEGER" property="createrId" />
  <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
  <result column="is_active" jdbcType="TINYINT" property="isActive" />
</resultMap>
<sql id="Base_Column_List">
    id, member_id, name, phone, email, card_type, card_number, create_time, update_time,
    creater_id, updater_id, is_active
  </sql>
<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from member_passenger
  where id = #{id,jdbcType=INTEGER}
</select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member_passenger
    where id = #{id,jdbcType=INTEGER}
  </delete>
<insert id="insert" parameterType="com.aaroom.wechat.bean.MemberPassenger">
    insert into member_passenger (id, member_id, name,
      phone, email, card_type,
      card_number, create_time, update_time,
      creater_id, updater_id, is_active
      )
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR},
      #{cardNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{createrId,jdbcType=INTEGER}, #{updaterId,jdbcType=INTEGER}, #{isActive,jdbcType=TINYINT}
      )
  </insert>
<insert id="insertSelective" parameterType="com.aaroom.wechat.bean.MemberPassenger">
  insert into member_passenger
  <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="id != null">
      id,
    </if>
    <if test="member_id != null">
      member_id,
    </if>
    <if test="name != null">
      name,
    </if>
    <if test="phone != null">
      phone,
    </if>
    <if test="email != null">
      email,
    </if>
    <if test="card_type != null">
      card_type,
    </if>
    <if test="card_number != null">
      card_number,
    </if>
    <if test="createTime != null">
      create_time,
    </if>
    <if test="updateTime != null">
      update_time,
    </if>
    <if test="createrId != null">
      creater_id,
    </if>
    <if test="updaterId != null">
      updater_id,
    </if>
    <if test="isActive != null">
      is_active,
    </if>
  </trim>
  <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="id != null">
      #{id,jdbcType=INTEGER},
    </if>
    <if test="member_id != null">
      #{member_id,jdbcType=VARCHAR},
    </if>
    <if test="name != null">
      #{name,jdbcType=VARCHAR},
    </if>
    <if test="phone != null">
      #{phone,jdbcType=VARCHAR},
    </if>
    <if test="email != null">
      #{email,jdbcType=VARCHAR},
    </if>
    <if test="card_type != null">
      #{card_type,jdbcType=VARCHAR},
    </if>
    <if test="card_number != null">
      #{card_number,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime != null">
      #{updateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="createrId != null">
      #{createrId,jdbcType=INTEGER},
    </if>
    <if test="updaterId != null">
      #{updaterId,jdbcType=INTEGER},
    </if>
    <if test="isActive != null">
      #{isActive,jdbcType=TINYINT},
    </if>
  </trim>
</insert>



<update id="updateByPrimaryKeySelective" parameterType="com.aaroom.wechat.bean.MemberPassenger">
  update member_passenger
  <set>
    <if test="member_id != null">
      member_id = #{member_id,jdbcType=VARCHAR},
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR},
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR},
    </if>
    <if test="card_type != null">
      card_type = #{card_type,jdbcType=VARCHAR},
    </if>
    <if test="card_number != null">
      card_number = #{card_number,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime != null">
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="createrId != null">
      creater_id = #{createrId,jdbcType=INTEGER},
    </if>
    <if test="updaterId != null">
      updater_id = #{updaterId,jdbcType=INTEGER},
    </if>
    <if test="isActive != null">
      is_active = #{isActive,jdbcType=TINYINT},
    </if>
  </set>
  where id = #{id,jdbcType=INTEGER}
</update>
<update id="updateByPrimaryKey" parameterType="com.aaroom.wechat.bean.MemberPassenger">
    update member_passenger
    set member_id = #{memberId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creater_id = #{createrId,jdbcType=INTEGER},
      updater_id = #{updaterId,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
<select id="getAllMemberPassenger" parameterType="string" resultType="com.aaroom.wechat.bean.MemberPassenger">
    select * from member_passenger where member_id = #{member_id}
  </select>
</mapper>